@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  scroll-behavior: smooth;
  height: 100%;
}



.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #dbdbe2;
  margin: 6px 0;
  transition: 0.4s;
}

.brand-navigation {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgb(73, 88, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
}

.contactSec {
  background: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
  border-radius: 10px;
  border-top: 1px solid rgb(73, 88, 221);
  border-bottom: 1px solid rgb(73, 88, 221);
  padding: 30px;
}

.contactSec h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.contactSec button {
  background-color: #8257E6;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactSec button:hover {
  background-color: rgb(91, 18, 228);
}

.sendText {
  font-size: 40px;
  font-weight: bold;
}


.footerSec {
  border-top: 1px solid rgb(73, 88, 221);
  background: rgba(0, 0, 0, 0.7);
}

.content {
  width: 90%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  padding: 1em;
  color: #dbdbe2;
  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(114, 99, 250);
}

.text-title {
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgb(114, 99, 250) 60%);
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0 0;
    align-items: center;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 110px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(73, 88, 221);
    z-index: 999;
  }

  .nav-links.open {
    display: flex;
  }


  .text-title {
    margin-left: 10px;
  }
}

.home-img {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
  transform: translatey(0px);
}

@keyframes float {
  0% {

    transform: translatey(0px);

  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.linksbutton {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to right, rgba(75, 58, 199, 0.815) 20%, rgb(96, 85, 255) 60%);
  border-radius: 10px;
  width: 180px;
  height: 60px;
}

.linksbutton p {
  padding-left: 10px;
  font-size: medium;
  font-weight: bold;
}

.linksbutton:hover {
  background: linear-gradient(to right, rgb(71, 61, 214) 20%, rgba(75, 55, 228, 0.815) 60%);
}



.title {
  z-index: 20;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
}



.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 10% auto;
 
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.box {
  z-index: 20;
  position: relative;
  text-align: center;
  background-color: #212121;
  border-bottom: 2px solid #8257E6;
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.box p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #8257E6;
  margin-bottom: 1.5rem;
}

.box:hover {
  transform: scale(1.1);
}


.cvButton {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(to right, rgba(75, 58, 199, 0.815) 20%, rgb(96, 85, 255) 60%);
  border-radius: 10px;
  width: 180px;
  height: 60px;
}

.cvButton:hover {
  background: linear-gradient(to right, rgb(71, 61, 214) 20%, rgba(75, 55, 228, 0.815) 60%);
}


@media screen and (max-width: 768px) {

  .skillsContainer {
    width: 100%;
  }

  .cards {
    justify-content: center;
  }

}


.projects-container {
  z-index: 20;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #8257E6;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
 
}

.project-card:hover {
  transform: scale(1.1);
}


.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-container img {
 width: 100%;
  object-fit: cover;
  height: 300px;
}


@media (max-width: 768px) {
  .projects-container {
    justify-content: center;
  }

  .project-card {
    max-width: 100%;
  }
}

.aboutImage {
  border-radius: 20px;
}