@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

.header {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgb(73, 88, 221);
}

.title {
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgb(114, 99, 250) 60%);
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 800;
}

ul li {
  padding: 0px 30px;
  font-size: 18px;
}

ul li:hover {
  color: rgb(114, 99, 250);
}

.home-img {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
  transform: translatey(0px);
}

@keyframes float {
  0% {

    transform: translatey(0px);

  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.linksbutton {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to right, rgba(212, 209, 236, 0.815) 20%, rgb(96, 85, 255) 60%);
  border-radius: 10px;
  width: 180px;
  height: 60px;
}

.linksbutton p {
  padding-left: 10px;
  font-size: medium;
  font-weight: bold;
}

.linksbutton:hover {
  background: linear-gradient(to right, rgb(143, 136, 233) 20%, rgb(212, 209, 236, 0.815) 60%);
}